<!-- Calendly link widget begin -->
<h2 style="text-align: center">
  <a style="color: #ff0000; text-decoration: none; border: 2px solid #ff0000; border-radius: 4px; padding: 8px 14px; font-size: 15px" href="https://www.google.com/maps/" target="_blank" rel="noopener"
    >Click here to choose your Delivery Date: Zone 1 - Montreal-Centre</a
  >
</h2>

<div id="main-calendly-links">
  <h5 id="Delivery at home in Montreal Ouest" style="text-align: center">
    <a style="color: #ff0000; text-decoration: none; border: 2px solid #ff0000; border-radius: 4px; padding: 8px 14px; font-size: 15px" href="https://calendly.com/au-pied-de-cochon/zone-1" target="_blank" rel="noopener"
      >Click here to choose your Delivery Date: Zone 1: Montreal-Centre</a
    >
  </h5>
  <h5 style="text-align: center">
    <span style="color: #ff0000"><a style="color: #ff0000" href="https://calendly.com/jordan-lavoie/delivery-date" target="_blank" rel="noopener">Click here to choose your Delivery Date: Zone 2: Montreal Est</a></span>
  </h5>
  <h5 id="Delivery at Home in Rive-Sud" style="text-align: center">
    <a style="color: #ff0000; text-decoration: none; border: 2px solid #ff0000; border-radius: 4px; padding: 8px 14px; font-size: 15px" href="https://calendly.com/au-pied-de-cochon/zone-2-rive-sud" target="_blank" rel="noopener"
      >Click here to choose your Delivery Date: Zone 3: Rive-Sud</a
    >
  </h5>
  <h5 style="text-align: center">
    <span style="color: #ff0000"><a style="color: #ff0000" href="https://calendly.com/jordan-lavoie/delivery-date" target="_blank" rel="noopener">Click here to choose your Delivery Date: Zone 4: Couronne Nord</a></span>
  </h5>
  <h5 style="text-align: center">
    <span style="color: #ff0000"><a style="color: #ff0000" href="https://calendly.com/jordan-lavoie/delivery-date" target="_blank" rel="noopener">Click here to choose your Delivery Date: Zone 5: Montreal Ouest</a></span>
  </h5>
  <h5 id="Pickup: Sherbrooke" style="text-align: center">
    <a style="color: #ff0000; text-decoration: none; border: 2px solid #ff0000; border-radius: 4px; padding: 8px 14px; font-size: 15px" href="https://calendly.com/au-pied-de-cochon/sherbrooke" target="_blank" rel="noopener"
      >Click here to choose your Pickup Date for Sherbrooke Location</a
    >
  </h5>
</div>

<h5 id="Delivery at home in Montreal Ouest" style="text-align: center">
  <a style="color: #ff0000; text-decoration: none; border: 2px solid #ff0000; border-radius: 4px; padding: 8px 14px; font-size: 15px" href="https://calendly.com/au-pied-de-cochon/zone-1" target="_blank" rel="noopener"
    >Click here to choose your Delivery Date: Zone 1: Montreal-Centre</a
  >
</h5>

<h5 id="Delivery at Home in Rive-Sud" style="text-align: center">
  <a style="color: #ff0000; text-decoration: none; border: 2px solid #ff0000; border-radius: 4px; padding: 8px 14px; font-size: 15px" href="https://calendly.com/au-pied-de-cochon/zone-2-rive-sud" target="_blank" rel="noopener"
    >Click here to choose your Delivery Date: Zone 3: Rive-Sud</a
  >
</h5>
<h5 id="Pickup: Sherbrooke" style="text-align: center">
  <a style="color: #ff0000; text-decoration: none; border: 2px solid #ff0000; border-radius: 4px; padding: 8px 14px; font-size: 15px" href="https://calendly.com/au-pied-de-cochon/sherbrooke" target="_blank" rel="noopener"
    >Click here to choose your Pickup Date for Sherbrooke Location</a
  >
</h5>

LINKS BACKUPP V2 {% if template == 'pages/thankyou.rain' %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<script>
  // SUCCESSFUL RELOAD TESTING
  // window.alert("test log on screen15")
  // console.log("this is a test 510");

  $(window).load(function () {
    // NOTE: I ALSO ADDED CUSTOM CSS IN THE ECOM SETTINGS TO INITALLY HIDE THE LINKS AND TITLE AND I ONLY SHOW IT ONCE I MODIFY THE CONTENT

    // step 1: get order info
    let shipping_title = "{{ order.information.shipping_title }}";
    let orderID = "{{ order.information.id }}";
    let email = "{{ order.customer.email }}";
    let fullName = "{{ order.customer.firstname }}" + " {{ order.customer.lastname }}";

    // step 2: set page title depending on type of order
    if (shipping_title.includes("Delivery")) {
      $(".gui-page-title").html("<h3 style='color: red;'>Please choose a date for your order!</h3>");
    } else if (shipping_title.includes("Pickup")) {
      // $(".gui-page-title").html("<p>Before you complete your purchase, please choose a date for your order</p>");

      $(".gui-page-title").html("Please choose a date for your order!");
    } else if (shipping_title.includes("Default Shipping")) {
      $(".gui-page-title").html("Here are your order details");
    }

    // step 3: By default, title is hidden(through css). Show the title once it is changed so that it is smoother and not a suddent change of text displayed to user
    $(".gui-page-title").show();

    // step 4: Display Calendly scheduling based on location
    let calendlyLocation = "";

    if (shipping_title.toLowerCase().includes("sherbrooke")) {
      calendlyLocation = "sherbrooke";
    } else if (shipping_title.toLowerCase().includes("gatineau")) {
      calendlyLocation = "gatineau";
    } else if (shipping_title.toLowerCase().includes("mont-tremblant")) {
      calendlyLocation = "mont-tremblant";
    } else if (shipping_title.toLowerCase().includes("shawinigan")) {
      calendlyLocation = "shawinigan";
    } else if (shipping_title.toLowerCase().includes("mirabel")) {
      calendlyLocation = "mirabel";
    } else if (shipping_title.toLowerCase().includes("centre commercial")) {
      calendlyLocation = "quebec-centre-commercial-fleur-de-lys";
    } else if (shipping_title.toLowerCase().includes("hull")) {
      calendlyLocation = "hull";
    } else if (shipping_title.toLowerCase().includes("shawinigan")) {
      calendlyLocation = "shawinigan";
    } else if (shipping_title.toLowerCase().includes("buckingham")) {
      calendlyLocation = "buckingham";
    } else if (shipping_title.toLowerCase().includes("saint-sauveur")) {
      calendlyLocation = "saint-sauveur";
    } else if (shipping_title.toLowerCase().includes("lévis")) {
      calendlyLocation = "levis";
    } else if (shipping_title.toLowerCase().includes("drummondville")) {
      calendlyLocation = "drummondville";
    } else if (shipping_title.toLowerCase().includes("grand marché de québec")) {
      calendlyLocation = "grand-marche-quebec";
    } else if (shipping_title.toLowerCase().includes("downtown montreal")) {
      calendlyLocation = "downtown-montreal-pickup-location";
    } else if (shipping_title.toLowerCase().includes("drummondville")) {
      calendlyLocation = "drummondville";
    } else if (shipping_title.toLowerCase().includes("zone 1")) {
      calendlyLocation = "zone-1-montreal-centre";
    } else if (shipping_title.toLowerCase().includes("zone 2")) {
      calendlyLocation = "zone-2-rive-sud";
    } else if (shipping_title.toLowerCase().includes("zone 3")) {
      calendlyLocation = "zone-3-montreal-est";
    } else if (shipping_title.toLowerCase().includes("zone 4")) {
      calendlyLocation = "zone-4-couronne-nord";
    } else if (shipping_title.toLowerCase().includes("zone 5")) {
      calendlyLocation = "zone-5-montreal-ouest";
    }

    Calendly.initInlineWidget({
      url: `https://calendly.com/au-pied-de-cochon/${calendlyLocation}?hide_event_type_details=1`,
      parentElement: document.getElementById("gui-calendly-links"),
      prefill: {
        name: fullName,
        email: email,
        customAnswers: {
          a2: orderID,
        },
      },
      utm: {},
    });
  });
</script>
{% endif %} {# #} {#// added march 17, 2022 #} {% if template == 'pages/thankyou.rain' %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>
  // SUCCESSFUL RELOAD TESTING
  // window.alert("test log on screen15")
  // console.log("this is a test 510")

  $(window).load(async function () {
    // NOTE: I ALSO ADDED CUSTOM CSS IN THE ECOM SETTINGS TO INITALLY HIDE THE LINKS AND TITLE AND I ONLY SHOW IT ONCE I MODIFY THE CONTENT

    // step 1: get order info
    let shippingTitle = "{{ order.information.shipping_title }}";
    let orderID = "{{ order.information.id }}";
    let email = "{{ order.customer.email }}";
    let fullName = "{{ order.customer.firstname }}" + " {{ order.customer.lastname }}";

    // step 2: set page title depending on type of order

    // check if calendly link was already booked. If so, then don't display options to book another slot in Calendly.
    let isBooked = false;
    await axios.get("https://us-central1-ls-strategic-apis.cloudfunctions.net/apcd_api/isBooked/" + orderID).then(function (response) {
      isBooked = response.data;
    });

    if (isBooked) {
      $(".gui-page-title").html("Here are your order details");
      // return statement to exit the function and not display a calendly link
      return $(".gui-page-title").show();
    }

    if (shippingTitle.includes("Delivery")) {
      $(".gui-page-title").html("<h6 style='color: red;'>Please choose a date for your order!</h6>");
    } else if (shippingTitle.includes("Pickup")) {
      $(".gui-page-title").html("<h6 style='color: red;'>Please choose a date for your order!</h6>");
    }
    // normal shipping
    else {
      $(".gui-page-title").html("Here are your order details");
      // return statement to exit the function and not display a calendly link
      return $(".gui-page-title").show();
    }

    // step 3: By default, title is hidden(through css). Show the title once it is changed so that it is smoother and not a suddent change of text displayed to user
    $(".gui-page-title").show();

    // step 4: Display Calendly scheduling based on location
    // step 4-a: get all links from the firestore database
    let links = [];
    await axios.get("https://us-central1-ls-strategic-apis.cloudfunctions.net/apcd_api/calendly").then(function (response) {
      links = response.data;
    });

    // step 4-b: find the calendly link
    const calendlyURL = links.find((title) => title.value === shippingTitle).link;

    // step 4-c: pre-fill and display calendly embed
    Calendly.initInlineWidget({
      url: calendlyURL,
      parentElement: document.getElementById("main-calendly-links"),
      prefill: {
        name: fullName,
        email: email,
        customAnswers: {
          a2: orderID,
        },
      },
      utm: {},
    });
  });
</script>
{% endif %}
